/* Color Scheme */

:root {
  --green: rgb(151, 199, 132);
  --blue: rgb(9, 151, 188);
  --pink: rgb(237, 139, 141);
  --orange: rgb(243, 164, 78);
}

/* ------------------------- Icon styling */



  .fas {
    text-decoration: none;
  }
  .fas:hover {
    text-decoration: none;
  }

  .fa-pen {
    font-size: 20px;
  }

  .fa-plus{
    font-size: 20px;
  }

  .fa-trash-alt {
    color: var(--pink);
    font-size: 25px;
  }

  /* ------------------------ All general styles */

  .fit{
    flex-grow: 1;
  }

  .flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: center;
    margin: auto;
    width: 100%;
  }

  img {
    width: 40px;
    height: 40px;
  }

  table {
    text-align: center;
    font-size: 12px;
  }

  .inputCommon{
    text-align: center;
    font-size: 12px;
    border: solid black 1px;
    margin-top: 2%;
}

  .w{
    width: 100%;
  }

  .win{
    width: 80%;
  }

  .h{
    min-height: 100vh;
  }

  .checkboxDiv {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .buttonCommon{
    background-color: var(--blue);
    color: white;
    font-size: 13px;
    font-weight: 200;
    border: none;
    margin-top: 1%;
  }



  .formCommon{
    width: 100%;
    margin-bottom: 10px;
  }
  /* ------------------------ homepage styling */

#homeGraph{
  height: 456px;
  width: 760px;
}

  /* -------------------- Add Foods Styling */

  .checkbox {
    background-color: rgb(255, 255, 255);
    border: black solid 1px;
    font-size: 12px;
    color: black;
  }

  .checkbox:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    border: black solid 1px;
  }

  /* ------------------  UserFoods Table */

  #tofood {
    margin: 0 auto;
    color: var(--blue);
  }

  #deleteYourFood {
    color: var(--pink);
  }

  /* ------------------------------ Inital Search Page */

  #searchQuestion {
    top: 20%;
    position: absolute;
    font-size: 25px;
    font-weight: 250;
  }

  .searchChoices {
    position: absolute;
    border-radius: 7%;
    width: 30%;
    height: 45%;
    left: 20%;
    margin: auto;
    border: solid black 1px;
  }

  #searchFood {
    bottom: 12%;
    left: 25%;
  }

  #searchCondition {
    bottom: 12%;
    left: 60%;
  }

  .searchTitle {
    font-size: 20px;
    color: black;
    text-align: center;
    font-weight: 250;
  }
  /* --------------------------------- Search by Food Form */
  /* --------------------------------- Search by condition Form */

  #searchimage {
    width: 35px;
    height: 35px;
  }

  #foodSearch {
    margin-bottom: 10px;
    margin-top: 5px;
  }
  #foodSearchData {
    margin-bottom: 10px;
    margin-top: 5px;
  }

  /* --------------------- Search By Condition Graph Page */

  #fcName {
    font-size: 25px;
    font-weight: 200;
    padding-top: 20px;
    border-bottom: 1px solid black;
  }

  #fcAverage {
    font-size: 15px;
    font-weight: 200;
  }

  #fcGraph {
    width: 90%;
    height: 250px;
    width: 425px;
    text-align: center;
    margin: 0 auto;
    border-radius: 0%;
  }

  /* -----------------  General Foods Graphs */

  #generalFoodsGraphsTitle {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 240;
    border-bottom: black 1px solid;
  }

  .generalFoodsGraph {
    height: 250px;
    width: 425px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  /* ---------------------- Profile Page */

  #profileImage {
    width: 150px;
    height: 150px;
    border-radius: 30%;
  }

  #profileContainer{
    height: 100%;
    width: fit-content;
  }

  #profileLogout {
    background-color: var(--pink);
  }

  #editProfileButton {
    border: none;
  }

  #profileDelete {
    background-color: var(--pink);
  }

  /* ----------------------- loginpage */

  #loginForm {
   
  }

  #poweredBy {
    color: white;
    font-weight: 100;
    font-size: small;
    
  }

  #loginFooter {
    display: flex;
    background-color: black;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  #footerLogo {
    color: white;
    font-weight: 100;
    font-size: small;
    
  }

  #introHeaderTitle {
    color: white;
    font-weight: 230;
    font-size: 35px;
    background-color: black;
    text-align: center;
    margin: 0 auto;
  }

  #introBanner {
    height: 100%;
  }

  .bannerTextContainer{
    text-align: center;
  }
  .bannerText {
    font-weight: 270;
  }

  .bannerTitle{
    margin-top: 5%;
  }

  #bannerYouCan {
    color: white;
    font-weight: 200;
  }

  /* -------------------- Official Login page */

  .title {
    color: white;
    font-weight: 245;
    text-align: center;
    margin-top: 10%;
  }

  .menu {
    align-items: center;
  }

  #tosignup {
    background-color: var(--pink);
  }

  #doItLater {
    background-color: var(--pink);
  }

  #introForm{
    flex-grow: 1;
    justify-content: center;
  }

#bigContainer{
  background-color: var(--green);
}

@media only screen and (max-device-width: 822px) {

#homeGraph{
  height: 304px;
  width: 506px;
}

.bannerTitle{
  margin-top: 30%;
}
.title{
  margin-top: 30%;
}

.win{
  width: 98%;
}
}
