/* General Styling */

:root {
  --orange: #b88f38;
  --blue: #1d344d;
  --lightblue: #839bac;
}

/* Specific to large screens */

@media only screen and (min-device-width: 822px) {
  html,
  body,
  .grid-container {
    height: 100%;
    margin: 0;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-template-areas: "Nav body";
  }

  .Nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "links"
      "profile";
    grid-area: Nav;

    background-image: linear-gradient(#3a3a3a, #4d4d4d);
  }

  .links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "first"
      "second"
      "third"
      "fourth";
    grid-area: links;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .fas {
    text-decoration: none;
    color: #b88f38;
  }

  .fas:hover {
    text-decoration: none;
    color: gray;
  }

  .first {
    grid-area: first;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2em;
  }
  .second {
    grid-area: second;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2em;
  }

  .third {
    grid-area: third;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2em;
  }

  .fourth {
    grid-area: fourth;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2em;
  }

  .profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "profileimage";
    grid-area: profile;
    padding-bottom: 25px;
  }

  .profileimage {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    font-size: 2.5em;
    padding-bottom: 15px;
  }

  .body {
    grid-area: body;
    /* background-image: linear-gradient( var(--blue), #384357); */
    display: flex;
    background-color: rgb(148, 148, 148);
  }

  #content {
    /* background-image: linear-gradient( gray, rgba(77, 77, 77, 0.699)); */
    /* background-color: #7395AE; */

    width: 93%;
    height: 93%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: relative; */

    border-radius: 7%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    flex-direction: column;
  }

  #flash {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -100px;
    color: white;
  }

  /* .spacer{
  height: 50px;
} */

  .homeInfo {
    font-family:inherit;
    position: absolute;
    background-color:#1d344d;
    border-radius: 0%;
    width: 40%;
    height: 36%;
    /* border: black solid 1px; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: linear-gradient( #2F5597, #1b2c49); */
    /* background-image: linear-gradient(#252f42, #203864); */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }
  .addOne {
    font-family:inherit;
    position: absolute;
    /* background-color: rgb(169, 169, 180); */
    border-radius: 7%;
    width: 30%;
    height: 45%;
    left: 20%;
    
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: linear-gradient( #2F5597, #1b2c49); */
    background-color:#1d344d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #infoOne {
    top: 12%;
    left: 21%;
  }
  #infoTwo {
    top: 12%;
    right: 11%;
  }

  #infoThree {
    bottom: 12%;
    left: 21%;
  }
  #infoFour {
    bottom: 12%;
    right: 11%;
  }

  .infoTitle {
    color: white;
    margin-bottom: 15px;
    font-size: 1.7vw;
    /* font-weight: bold; */
  }

  .fa-arrow-up {
    font-size: 25px;
  }

  .fa-trash-alt {
    color: rgb(194, 47, 47);
    font-size: 25px;
  }

  #homeImage {
    width: 7vw;
    height: 7vw;
  }

  #homeImage:hover{
    transform: translateY(100%);
  }

  .infoData {
    color: #b88f38;
    font-size: 3.0vw;
    transition: 1s;
    transition-delay: .1s
  }

  .addTitle {
    color: white;
    margin-bottom: 15%;
  }

  .addData {
    color: #b88f38;
    font-size: 1.3em;
  }

  /* Profile Page */

  #profileUsername {
    position: absolute;
    top: 25%;
    left: 50%;
  }
  #profileImage {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: black 1px solid;
  }
  #profileEmail {
    position: absolute;
    top: 35%;
    left: 50%;
  }

  #editProfileButton {
    background-color: var(--blue);
    /* position: absolute;
  bottom: 30%;
  width:75%; */
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #editProfileButton:hover {
    background-color: rgb(122, 141, 90);
  }

  #profileDelete {
    /* margin-left: 5%; */
    /* position: absolute; */
    /* bottom: 5%; */
    margin-top: 20px;
    background-color: rgb(151, 57, 41);
    color: white;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #profileDelete:hover {
    background-color: rgb(173, 74, 57);
  }

  #editProfileButton {
    background-color: var(--blue);
    border: solid black 1px;
    color: white;
    /* position: absolute;
    position: absolute;
  bottom: 15%;
  width: 75%; */
  }

  #editProfileButton:hover {
    background-color: #b88f38;
  }
  #editProfileButton1 {
    background-color: var(--blue);
    border: solid black 1px;
    color: white;
    position: absolute;
    position: absolute;
    bottom: 25%;

    width: 75%;
  }

  #editProfileButton1:hover {
    background-color:  #b88f38;
  }

  #profileLogout {
    position: absolute;
    bottom: 15%;
    width: 75%;
    background-color: rgb(151, 57, 41);
    color: white;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #profileLogout:hover {
    background-color: rgb(173, 74, 57);
  }

  /* loginpage */

  #loginform {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 80%;
  }

  #doItLater {
    font-size: 15px;
    background-color: darkolivegreen;
    margin-top: 5px;
  }

  #loginbutton {
    width: 100%;
    background-color: var(--blue);
    border: none;
    color: var(--orange);
    margin-top: 20px;
  }

  #tosignup:hover {
    background-color: rgb(145, 112, 51);
  }

  .loginInputs {
    text-align: center;
  }

  #tosignup {
    width: 100%;
    background-color: var(--orange);
    margin-top: 20px;
    border: none;
    color: var(--blue);
  }

  #loginbutton:hover {
    background-color: rgb(25, 32, 63);
  }

  .title {
    color: white;
    margin-bottom: 70px;
  }

#amount{
  background-color: var(--blue);
  border: none;
  text-align: center;
  color: white;
  margin-top: 3px;
}
#feeling{
  background-color: var(--blue);
  border: none;
  text-align: center;
  color: white;
  margin-top: 3px;
}

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  /* Initial Food Input Page */

  #addQuestion {
    top: 20%;
    font-family:inherit;
    position: absolute;
    border-radius: 5%;
    font-size: 3vw;
    color: white;
    font-weight: bold;
    /* width: 70%;
    height: 35%; */
        -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  #addMeal {
    bottom: 12%;
    left: 15%;
  }

  #addFood {
    bottom: 12%;
    right: 15%;
  }

  #addFood:hover {
    background-color: #1d2b44;
  }

  #mainFormEditProfile {
    /* height: 80%;
  width: 90%; */
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  #fieldOneProfile {
    margin-top: 10px;
    background-color: #1d344d;
    color: white;
    text-align: center;
    border: none;
  }

  /* Adding food form */

  #mainForm {
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  #fieldOne {
    margin-top: 20px;
    background-color:#1d344d;
    color: white;
    border: none;
    text-align: center;
    font-family:inherit;
    font-size: 1.5vw;
  }

  #fieldOne::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
    font-family:inherit;
  }

  #fieldTwo {
    margin-top: 10px;
    background-color:#1d344d;
    color: white;
    border: none;
    text-align-last: center;
    font-family:inherit;
    font-size: 1.5vw;
  }

  input[type="checkbox"]:checked + label {
    color: #f00;
    font-style: normal;
  }

  .checkbox {
    background-color:#1d344d;
    color: white;
    border: black solid 1px;
    font-size: 1.2vw;
    
  }

  .checkbox:hover {
    background-color: #b88f38;
    border: black solid 1px;
  }

  .symptoms {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family:inherit;
    
    
  }
  .conditions {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
  }

  #addButton {
    background-color:#1d344d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    font-family:inherit;
  }

  #addButton:hover {
    background-color: #b88f38;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
    font-family:inherit;
  }

  /* Search By Condition */

  #fcImage {
    width: 80px;
    /* position: absolute;
  top: 35%;
  left: 10%; */
    height: 80px;
    border: black solid 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #fcInfo {
    /* position: absolute;
  top: 37%;
  left: 30%; */
    color: white;
  }

  #fcName {
    font-size: 25px;
  }

  #fcAverage {
    font-size: 15px;
  }

  #fcGraph {
    /* position: absolute;
  top: 55%;
  left: 0%; */
    background-color: rgb(223, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 15%;
    margin-left: 15%;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #fcGraph2 {
    width: 100%;
    height: 230px;
    text-align: center;
    margin: 0 auto;
    border-radius: 0%;
  }

  /* Food Search */

  #foodSearchForm {
    /* position: absolute;
  top: 5%;
  display: block; */
    width: 75%;
  }

  .searchTitle {
    font-size: 20px;
    color: #b88f38;
    text-align: center;
        -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: black;
  }

  
  #searchFood {
    bottom: 12%;
    left: 25%;
    font-size: 10px;
  }

  #searchCondition {
    bottom: 12%;
    left: 60%;
  }

  #searchimage {
    width: 35px;
    height: 35px;
  }

  #foodSearchInput {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #foodSearch {
    margin-top: 20px;
    font-size: 17px;
    background-color:#1d344d;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #foodSearch:hover {
    background-color:#b88f38;
    color: white;
  }

  /* UserFoods Table */

  table {
    border-collapse: collapse;
    border-radius: 1em;
    /* overflow: hidden; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #table {
    top: 30%;
    font-family: monospace;
    /* position: absolute; */
    /* background-color: rgb(169, 169, 180); */
    overflow: hidden;
    width: 90%;
    height: 65%;
    /*display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    font-size: 12px;
    overflow-y: scroll;
  }

  td {
    text-align: center;
  }

 #tableScroll::-webkit-scrollbar {
    display: none;
  }

  #edityourprofile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  #table::-webkit-scrollbar {
    display: none;
  }

  #edityourprofile::-webkit-scrollbar {
    display: none;
  }

  #tableScroll,
  #edityourprofile {
    overflow-y: scroll;
  }

  thead {
    font-size: 15px;
    text-align: center;
  }

  #inputForm {
    top: 20%;
    font-family: monospace;
    position: absolute;
    /* background-color: rgb(169, 169, 180); */
    border-radius: 7%;
    width: 50%;
    height: 35%;
  }

  #tofood,
  #delete {
    margin: 0 auto;
  }

  #delete {
    background-color: none;
    text-decoration: none;
    border: none;
    font-size: 25px;
  }

  img {
    width: 45px;
    border-radius: 30%;
    height: 45px;
  }

  .performance-facts table {
    border-radius: 0;
    box-shadow: none;
  }

  .performance-facts {
    border: 1px solid black;
    margin: 20px;
    width: 250px;
    padding: 0.5rem;
    text-align: center;
    margin: 50px auto;
    font-size: small;
    line-height: 1;
    position: relative;
    left: 0;
  }
  .performance-facts table {
    border-collapse: collapse;
  }

  .performance-facts__title {
    font-weight: bold;
    font-size: 2rem;
    margin: 0 0 0.25rem 0;
  }

  .performance-facts__header {
    border-bottom: 10px solid black;
    padding: 0 0 0.25rem 0;
    margin: 0 0 0.5rem 0;
  }
  .performance-facts__header p {
    margin: 0;
  }

  .performance-facts__table,
  .performance-facts__table--small,
  .performance-facts__table--grid {
    width: 100%;
  }
  .performance-facts__table thead tr th,
  .performance-facts__table--small thead tr th,
  .performance-facts__table--grid thead tr th,
  .performance-facts__table thead tr td,
  .performance-facts__table--small thead tr td,
  .performance-facts__table--grid thead tr td {
    border: 0;
  }
  .performance-facts__table th,
  .performance-facts__table--small th,
  .performance-facts__table--grid th,
  .performance-facts__table td,
  .performance-facts__table--small td,
  .performance-facts__table--grid td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black;
    white-space: nowrap;
  }
  .performance-facts__table td:last-child,
  .performance-facts__table--small td:last-child,
  .performance-facts__table--grid td:last-child {
    text-align: right;
  }
  .performance-facts__table .blank-cell,
  .performance-facts__table--small .blank-cell,
  .performance-facts__table--grid .blank-cell {
    width: 1rem;
    border-top: 0;
  }
  .performance-facts__table .thick-row th,
  .performance-facts__table--small .thick-row th,
  .performance-facts__table--grid .thick-row th,
  .performance-facts__table .thick-row td,
  .performance-facts__table--small .thick-row td,
  .performance-facts__table--grid .thick-row td {
    border-top-width: 5px;
  }

  .small-info {
    font-size: 0.7rem;
  }

  .performance-facts__table--small {
    border-bottom: 1px solid #999;
    margin: 0 0 0.5rem 0;
  }
  .performance-facts__table--small thead tr {
    border-bottom: 1px solid black;
  }
  .performance-facts__table--small td:last-child {
    text-align: left;
  }
  .performance-facts__table--small th,
  .performance-facts__table--small td {
    border: 0;
    padding: 0;
  }

  .performance-facts__table--grid {
    margin: 0 0 0.5rem 0;
  }
  .performance-facts__table--grid td:last-child {
    text-align: left;
  }
  .performance-facts__table--grid td:last-child::before {
    content: "•";
    font-weight: bold;
    margin: 0 0.25rem 0 0;
  }

  .text-center {
    text-align: center;
  }

  .thick-end {
    border-bottom: 10px solid black;
  }

  .thin-end {
    border-bottom: 1px solid black;
  }

  #graph1 {
    position: relative;

    background-color: rgb(223, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 15%;
    margin-left: 15%;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 40px;
  }
  #graph12 {
    width: 100%;
    height: 230px;
    text-align: center;
    margin: 0 auto;
    border-radius: 0%;
  }

  #graphTitle {
    margin: 40px 0;
    font-size: 25px;
    color: black;
  }
  #graph2 {
    background-color: rgb(223, 219, 219);

    margin-right: 15%;
    margin-left: 15%;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #graph22 {
    width: 100%;
    height: 230px;
    text-align: center;
    margin: 0 auto;
    border-radius: 0%;
  }






}

/* Mobile Styling */

@media only screen and (max-device-width: 822px) {
  html,
  body,
  .grid-container {
    height: 100%;
    margin: 0;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 92% 8%;
    gap: 0px 0px;
    grid-template-areas: "body Nav";
  }

  .body {
    grid-area: body;
    background-color: rgb(148, 148, 148);
  }

  .Nav {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "links profile";
    grid-area: 2 / 1 / 3 / 2;
    background-image: linear-gradient(#3a3a3a, #4d4d4d);
  }

  .profile {
    grid-area: profile;
  }

  .links {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: " third second  first fourth";
    grid-area: links;
  }

  .fas {
    font-size: 20px;
    text-decoration: none;
    color: #b88f38;
  }

  .fas:hover {
    text-decoration: none;
    color: gray;
  }

  /* For presentation only, no need to copy the code below */

  .first {
    grid-area: first;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3.5em;
  }
  .second {
    grid-area: second;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.3em;
  }

  .third {
    grid-area: third;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.3em;
  }

  .fourth {
    grid-area: fourth;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.3em;
  }

  .profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "profileimage";
    grid-area: profile;
  }

  .profileimage {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.3em;
  }

  .body {
    grid-area: body;
    
    display: grid;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #content {
    /* background-image: linear-gradient( gray, rgba(77, 77, 77, 0.699)); */
    /* background-color: #7395AE; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: relative; */

    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    flex-direction: column;
  }

  #flash {
    position: absolute;
    bottom: 50px;
    margin: 0 auto;
    color:white;
    width: 100%;
  }

#error-food{
  color: #f00;
  font-size: 4vw;
}

  /* .spacer{
  height: 50px;
} */

  .homeInfo {
    font-family: monospace;
    position: absolute;
    /* background-color: rgb(84, 84, 85); */
    border-radius: 7%;
    width: 40%;
    height: 30%;
    /* border: black solid 1px; */
    background-color:#1d344d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: linear-gradient( #2F5597, #1b2c49); */
    /* background-image: linear-gradient( #2F5597, #203864); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .addOne {
    font-family: monospace;
    position: absolute;
    /* background-color: rgb(169, 169, 180); */
    border-radius: 7%;
    width: 80%;
    height: 20%;
    left: 20%;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: linear-gradient( #2F5597, #1b2c49); */
    background-color:#1d344d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #infoOne {
    top: 12%;
    left: 8%;
  }
  #infoTwo {
    top: 12%;
    left: 52%;
  }

  #infoThree {
    top: 50%;
    left: 8%;
  }
  #infoFour {
    top: 50%;
    left: 52%;
  }

  .infoTitle {
    color: white;
    margin-bottom: 15px;
    font-size: 4vw;
    font-weight: bold;
  }

  .fa-arrow-up {
    font-size: 25px;
  }

  .fa-trash-alt {
    color: rgb(194, 47, 47);
    font-size: 25px;
  }

  #homeImage {
    width: 12vw;
    height: 12vw;
  }

  .infoData {
    color: var(--orange);
    font-size: 12vw;
  }

  .addTitle {
    color: white;
    margin-bottom: 15%;
  }

  .addData {
    color: var(--orange);
    font-size: 1.3em;
  }

  /* Profile Page */

  #profileUsername {
    /* position: absolute;
    top: 25%;
    left: 50%; */
    color: white;
  }
  #profileImage {
    /* position: absolute;
    top: 20%;
    left: 10%; */
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: black 1px solid;
  }
  #profileEmail {
    /* position: absolute;
    top: 35%;
    left: 50%; */
    color: white;
  }

  #editProfileButton {
    background-color: var(--blue);
    /* position: absolute;
  bottom: 30%;
  width:75%; */
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #editProfileButton:hover {
    background-color: rgb(122, 141, 90);
  }

  #profileDelete {
    /* margin-left: 5%; */
    /* position: absolute; */
    /* bottom: 5%; */

    background-color: rgb(151, 57, 41);
    color: white;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #profileDelete:hover {
    background-color: rgb(173, 74, 57);
  }

  #editProfileButton {
    background-color: var(--blue);
    border: solid black 1px;
    color: white;
    /* position: absolute;
    position: absolute;
  bottom: 15%;
  width: 75%; */
  }

  #editProfileButton:hover {
    background-color: var(--orange);
  }
  #editProfileButton1 {
    background-color: var(--blue);
    border: solid black 1px;
    color: white;
    /* position: absolute;
    position: absolute;
    bottom: 25%; */

    width: 80%;
  }

  #editProfileButton1:hover {
    background-color: var(--orange);
  }

  #profileLogout {
    /* position: absolute;
    bottom: 15%;
    width: 75%; */
    background-color: rgb(151, 57, 41);
    color: white;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
  }

  #profileLogout:hover {
    background-color: rgb(173, 74, 57);
  }

  /* Initial Food Input Page */

  #addQuestion {
    top: 20%;
    font-family: monospace;
    position: absolute;
    border-radius: 5%;
    font-size: 5vw;
    color: white;
    /* font-weight: bold; */
    /* width: 70%;
    height: 35%; */
    -webkit-text-stroke-width: 1%;
    -webkit-text-stroke-color: black;
  }

  #addMeal {
    bottom: 12%;
    left: 15%;
  }

  #addFood {
    bottom: 12%;
    right: 15%;
  }

  #addFood:hover {
    background-color: #1d2b44;
  }

  #mainFormEditProfile {
    /* height: 80%;
  width: 90%; */
    font-size: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
  }

  #fieldOneProfile {
    background-color:#1d344d;
    border: black 1px solid;
    color: white;
    text-align: center;
    margin-bottom: 10px;
  }

  /* Adding food form */

  #mainForm {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  #fieldOne {
    /* margin-top: 20px; */
    background-color:#1d344d;
    color: white;
    border: none;
    text-align: center;
    font-family: monospace;
  }

  #fieldOne::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
    font-family: monospace;
  }

  #fieldTwo {
    margin-top: 10px;
    background-color:#1d344d;
    color: white;
    border: none;
    text-align-last: center;
    font-family: monospace;
  }

  input[type="checkbox"]:checked + label {
    color: #f00;
    font-style: normal;
  }

  .checkbox {
    background-color:#1d344d;
    color: white;
    border: none;
    font-size: small;
    
  }

  .checkbox:hover {
    background-color: rgb(32, 56, 100);
    border: black solid 1px;
  }

  .symptoms {
    margin-top: 50px;
  margin-bottom: 50px;
    text-align: center;
    font-family: monospace;
    
  }
  .conditions {
    text-align: center;
    margin-top: 5vw;
  margin-bottom: 5vw;
  }

  #addButton {
    background-color:#1d344d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    font-family: monospace;
  }

  #addButton:hover {
    background-color: var(--orange);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
    font-family: monospace;
  }

  /* Search By Condition */

  #fcImage {
    width: 80px;
    /* position: absolute;
  top: 35%;
  left: 10%; */
    height: 80px;
    border: black solid 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #fcInfo {
    /* position: absolute;
  top: 37%;
  left: 30%; */
    color: white;
  }

  #fcName {
    font-size: 25px;
  }

  #fcAverage {
    font-size: 15px;
  }

  #fcGraph {
    /* position: absolute;
  top: 55%;
  left: 0%; */
    background-color: rgb(223, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 15%;
    margin-left: 15%;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #fcGraph2 {
    width: 100%;
    height: 230px;
    text-align: center;
    margin: 0 auto;
    border-radius: 0%;
  }

  /* Food Search */

  #foodSearchForm {
    /* position: absolute;
  top: 5%;
  display: block; */
    width: 75%;
  }

  .searchTitle {
    font-size: 20px;
    color: var(--orange);
    text-align: center;
  }

  #searchFood {
    bottom: 45%;
    left: 10%;
    font-size: 10px;
  }

  #searchCondition {
    bottom: 22%;
    left: 10%;
  }

  #searchimage {
    width: 35px;
    height: 35px;
  }

  #foodSearchInput {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #foodSearch {
    margin-top: 20px;
    font-size: 17px;
    background-color:#1d344d;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #foodSearch:hover {
    background-color: #b5ce85;
    color: #1d2b44;
  }

  /* UserFoods Table */

  table {
    border-collapse: collapse;
    border-radius: 1em;
    /* overflow: hidden; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #table {
    /* top: 30%; */
    font-family: monospace;
    /* position: absolute; */
    /* background-color: rgb(169, 169, 180); */
    overflow: hidden;
    width: 99%;
    height: 65%;
    /*display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    font-size: 12px;
    overflow-y: scroll;
  }

  td {
    text-align: center;
  }

  #edityourprofile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  #table::-webkit-scrollbar {
    display: none;
  }

  #edityourprofile::-webkit-scrollbar {
    display: none;
  }

  #tableScroll,
  #edityourprofile {
    overflow-y: scroll;
  }

  thead {
    font-size: 10px;
    text-align: center;
  }

  /* #inputFoodForm{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  
} */

  #inputForm {
    top: 20%;
    font-family: monospace;
    position: absolute;
    /* background-color: rgb(169, 169, 180); */
    border-radius: 7%;
    width: 50%;
    height: 35%;
  }

  #tofood,
  #delete {
    margin: 0 auto;
  }

  #delete {
    background-color: none;
    text-decoration: none;
    border: none;
    font-size: 25px;
  }

  img {
    width: 45px;
    border-radius: 30%;
    height: 45px;
  }

  .performance-facts table {
    border-radius: 0;
    box-shadow: none;
  }

  .performance-facts {
    border: 1px solid black;
    margin: 20px;
    width: 250px;
    padding: 0.5rem;
    text-align: center;
    margin: 50px auto;
    font-size: small;
    line-height: 1;
    position: relative;
    left: 0;
  }
  .performance-facts table {
    border-collapse: collapse;
  }

  .performance-facts__title {
    font-weight: bold;
    font-size: 2rem;
    margin: 0 0 0.25rem 0;
  }

  .performance-facts__header {
    border-bottom: 10px solid black;
    padding: 0 0 0.25rem 0;
    margin: 0 0 0.5rem 0;
  }
  .performance-facts__header p {
    margin: 0;
  }

  .performance-facts__table,
  .performance-facts__table--small,
  .performance-facts__table--grid {
    width: 100%;
  }
  .performance-facts__table thead tr th,
  .performance-facts__table--small thead tr th,
  .performance-facts__table--grid thead tr th,
  .performance-facts__table thead tr td,
  .performance-facts__table--small thead tr td,
  .performance-facts__table--grid thead tr td {
    border: 0;
  }
  .performance-facts__table th,
  .performance-facts__table--small th,
  .performance-facts__table--grid th,
  .performance-facts__table td,
  .performance-facts__table--small td,
  .performance-facts__table--grid td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black;
    white-space: nowrap;
  }
  .performance-facts__table td:last-child,
  .performance-facts__table--small td:last-child,
  .performance-facts__table--grid td:last-child {
    text-align: right;
  }
  .performance-facts__table .blank-cell,
  .performance-facts__table--small .blank-cell,
  .performance-facts__table--grid .blank-cell {
    width: 1rem;
    border-top: 0;
  }
  .performance-facts__table .thick-row th,
  .performance-facts__table--small .thick-row th,
  .performance-facts__table--grid .thick-row th,
  .performance-facts__table .thick-row td,
  .performance-facts__table--small .thick-row td,
  .performance-facts__table--grid .thick-row td {
    border-top-width: 5px;
  }

  .small-info {
    font-size: 0.7rem;
  }

  .performance-facts__table--small {
    border-bottom: 1px solid #999;
    margin: 0 0 0.5rem 0;
  }
  .performance-facts__table--small thead tr {
    border-bottom: 1px solid black;
  }
  .performance-facts__table--small td:last-child {
    text-align: left;
  }
  .performance-facts__table--small th,
  .performance-facts__table--small td {
    border: 0;
    padding: 0;
  }

  .performance-facts__table--grid {
    margin: 0 0 0.5rem 0;
  }
  .performance-facts__table--grid td:last-child {
    text-align: left;
  }
  .performance-facts__table--grid td:last-child::before {
    content: "•";
    font-weight: bold;
    margin: 0 0.25rem 0 0;
  }

  .text-center {
    text-align: center;
  }

  .thick-end {
    border-bottom: 10px solid black;
  }

  .thin-end {
    border-bottom: 1px solid black;
  }

  #graph1 {
    position: relative;

    background-color: rgb(223, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 15%;
    margin-left: 15%;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 40px;
  }
  #graph12 {
    width: 100%;
    height: 230px;
    text-align: center;
    margin: 0 auto;
    border-radius: 0%;
  }

  #graphTitle {
    margin: 40px 0;
    font-size: 25px;
    color: black;
  }
  #graph2 {
    background-color: rgb(223, 219, 219);

    margin-right: 15%;
    margin-left: 15%;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #graph22 {
    width: 100%;
    height: 230px;
    text-align: center;
    margin: 0 auto;
    border-radius: 0%;
  }

    .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

    #loginbutton {
    width: 100%;
    background-color: var(--blue);
    border: none;
    color: var(--orange);
    margin-top: 20px;
  }

  #tosignup {
    width: 100%;
    background-color: var(--orange);
    margin-top: 20px;
    border: none;
    color: var(--blue);
  }

  .title {
    color: white;
    margin-bottom: 70px;
  }
}
