html,
body,
.grid-container {
  height: 100%;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 19% 80% 1%;
  grid-template-rows: 10% 20% 20% 20% 20% 10%;
  gap: 0px 0px;
  grid-template-areas:
    "logo header footerright"
    "icon1 input footerright"
    "icon2 data footerright"
    "icon3 data footerright"
    "icon4 data footerright"
    "footerleft footercenter footerright";
    background-color: #2F5B81;
}

.footerright{
  grid-area: plus;
}

.input {
  grid-area: input;
  padding: 23px 10px;
  /* margin: 10px 0; */
  /* border-left: 2px solid white; */
  margin-top: 35px;
  padding-right: 25px;
  
}

input, #username{
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#amount, #search_by{
  margin-top: 13px;
  width: 55%;
  display: inline;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



 .wow{
  margin-top: 10px;
  margin-right: 25px;
  
  display: inline;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.input button{
  width:43%;
  font-size: 100%;
  float: right;
  text-align: center;
  display: inline;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  
}
/* .input input{
  width: 50%;
  font-size: 30%;
  text-align: center;
} */

#username1{
  text-decoration: none;
  color: white;
  margin-top: 20px;
  margin-right: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#username1:hover{
  text-decoration: none;
  
}

.data {
  grid-area: data;
  padding: 10px 0px;
  margin-top: 25px;
  padding-left: 0px;
  /* margin-right: 10px; */
  margin-left: 10px;
  padding-right: 25px;
  /* padding-top: 40px; */
}



/* .title { grid-area: title; } */

.icon1 {
  grid-area: icon1;
}

.icon2 {
  grid-area: icon2;
}

.icon3 {
  grid-area: icon3;
}

.icon4 {
  grid-area: icon4;
}

.logo {
  grid-area: logo;
}

.footercenter {
  grid-area: footercenter;
  /* border-left: 2px solid white;
  border-top: 2px solid white; */
  color: #2F5B81;
}

.footercenter:hover{
  color: white;
}

.footerleft {
  grid-area: footerleft;
}

.header {
  grid-area: header;
  /* border-left: 2px solid white; */

}

/* For presentation only, no need to copy the code below */
.grid-container * {
  /* border: 1px solid blue; */
  position: relative;
}

.grid-area {
  top: 50px;
}

.grid-container i {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30%;
  font-size: 50px;
  border: none;
}


.grid-container a{
    display: flex;
  align-items: center;
  justify-content: center;
  top: 30%;
  font-size: 50px;
  border: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footercenter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

li {
  display: inline;
  background-color: red;
  padding: 5px;
}

li label {
  display: none;
}

#feeling-0 {
  color: red;
}

#tabletitle {
  text-align: center;
  /* border-top: 1px solid black; */
  margin-top: 40px;
}

th,
td {
  text-align: center;
}

.header {
  justify-content: flex-end;
}

#profileimage {
  border-radius: 50%;
  margin-right: 20px;
  height: 50px;
  border: 1px solid black;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#inputform > :last-child {
  margin-top: 10px;
}

.fas {
  text-decoration: none;
  color: #B5CE85;
  
}

.fas:hover {
  text-decoration: none;
  color: darkgray;
}

form {
  justify-content: center;
}

#delete {
  margin-top: 5px;
}





.scrollable {
    height: 100%; /* or any value */
    overflow-y: auto;
}


/* *{
  background-color: #2F5B81;
} */

td{
  background-color: #a0aebb;
  color:  black;
  border: none;
}

#tabletitle{
  padding-bottom: 10px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

table{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 5px;
}



#delete{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.fas{
  filter:drop-shadow(10px 5px 27px rgb(27, 26, 26))}





#yourcontributions{
  color: white;
  text-align: center;
}


#touser, #tofood{
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#profileimage2{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 3px solid white;
  display: flex;
  margin: 0 auto;
}


#profileinfo{
  margin-top: 100px;
  text-align: center;
  color: white;
}

#editprofile{
  width: 50%;
  margin: 0 auto;
  margin-top: 70px;
  font-size: large;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#profilelogout{
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: large;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(138, 49, 49);
  color: white;
}

#profilelogout:hover{
  background-color: rgb(126, 25, 25);
}

#profileemail{
  font-size: medium;
}

#profilebio{
  font-size: small;
  padding-top: 10px;
}


#foodsearch{
  width: 35%;
}


#conditions{
  color: white;
  text-align: left;
  margin: 0 auto;
  margin-top: 20px;
  
}

.conditionname{
  
  float: left;
  width: 50%;
}


#edituser{
  margin: 10px auto;
  text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  width: 55%;
}

#user_form{
  text-align: center;
  
}

#deleteuser{
  width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10px;
}

#edityourprofile{
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 35px;
}



#feeling{
  width: 43%;
  float: right;
  margin-top: 13px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


#graph1{
  background-color: rgb(226, 226, 226);
  width: 500px;
  border: solid black 2px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
}
#graph2{
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgb(226, 226, 226);
  width: 500px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: solid black 2px;

}

.header{
  color: white;
}

#flash{
  margin-right: 40%;
  margin-top: 25px;
}

#searchimage {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 3px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#plus{
  margin-right: 20px;
  margin-bottom: 55px;
}

#add_food_name{
  width: 55%;
  float: left;
  margin-top: 17px;
}
#search_food_name{
  width: 55%;
  display: inline;
  margin-top: 10px;
}

#addtodatabase{
  float: right;
}

#searchdatabase{
  float: right;
  
}

#form1{
  display: flexbox;
}



