html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 20% 20% 20% 20% 10%;
  gap: 0px 0px;
  grid-template-areas:
    "logo header"
    "icon1 input"
    "icon2 data"
    "icon3 data"
    "icon4 data"
    "footerleft footercenter";
}

.input{
  grid-area: input;
  padding: 30px 20px;
  
  border-left: 2px solid black;
  border-top: 2px solid black;
}

.data { 
  grid-area: data;
  padding: 10px 0px;
  border-left: 2px solid black;
  padding-left: 0px;
  padding-top: 40px;
   }

/* .title { grid-area: title; } */

.icon1 { 
  grid-area: icon1; 

}

.icon2 { grid-area: icon2; }

.icon3 { grid-area: icon3; }

.icon4 { grid-area: icon4; }

.logo { grid-area: logo; }

.footercenter { grid-area: footercenter; border-left: 2px solid black; border-top: 2px solid black;}

.footerleft { grid-area: footerleft; }

.header { 
  grid-area: header; 
  border-left: 2px solid black;
}


/* For presentation only, no need to copy the code below */
.grid-container * {
  /* border: 1px solid blue; */
  position: relative;
}

.grid-area{
  top: 50px;
}


.grid-container i {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    top: 30%;
    font-size: 50px;
    border: none;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footercenter{
    display: flex;
    align-items: center;
    justify-content: center;
}



li{
  display: inline;
  background-color: red;
  padding: 5px;
}


li label{
  display: none;
}

#feeling-0{
  color: red;
}

#tabletitle{
  text-align: center;
  border-top: 1px solid black;
  padding-top: 3px;
  
}

th, td{
  text-align: center;
}

.header {
  justify-content: flex-end;
}

#profileimage{
  border-radius: 50%;
  margin-right: 20px;
  height: 50px;
}


#inputform > :last-child{
  margin-top: 10px;
}

.fas{
  text-decoration: none;
  color: darkolivegreen;
}

.fas:hover{
  text-decoration: none;
  color: black;
}
