{% extends 'base.html' %}


<!-- =============================================================== -->


{% block content %}
<div class="formContainer">
<form action="/food/add" method='POST' id='inputFoodForm' autocomplete="off">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' and field.name != 'symptoms' %}

    {% for error in field.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %}
   
    {% if field.type == 'StringField' %}

    <div id="findFoodField">
    {{ field(placeholder=field.label.text, class="form-control", list='inputfood', id='fieldOne') }}
        <datalist id='inputfood' class="datalist-polyfill"></datalist>
        <span id="error-food"></span>
    </div>  
    <div id="restOfFields">
    {% elif field.type != 'RadioField' %}
    {{ field(placeholder=field.label.text, class="form-control fieldTwo") }}
    {% else %}


    
    {% for subfield in field %}


    {{subfield.label (class="btn btn-secondary active", id='fieldTwo')}}
    {{subfield}}

  
    {% endfor %}
    {% endif %}
    {% endfor %}

      <div class="symptoms">
        
          {% for field in form.symptoms %}
        
          <div hidden>
            {{field (class='btn-check', autocomplete='off', type='checkbox', )}}
          </div>
          
            {{field.label (class="btn btn-outline-primary checkbox")}}
          
        
        {% endfor %}
        </div>
      

    <button id="addButton" type="submit" class="btn btn-secondary btn-lg btn-block">Add Food</button>

    </div>
</form>


<div class="table">
  <div class="tableScroll" id="chooseFoodsList">
  <table class="table table">

    <thead>

      <tr>
        <th scope="col">Image</th>
        <th scope="col">Food</th>
        <th scope="col">Select</th>
      </tr>
    </thead>
    
      <tbody id="foodChoiceBody">

        </tbody>
    
  </table>
  </div>
</div>
</div>
{% endblock %}