{% extends 'base.html' %}
{% block content %}
        <h1 id="addQuestion" >Did you eat a meal or a single ingredient?</h1>
        <div class="addOne" id="addMeal">
            <h3 class="addTitle">Meal</h3>
            <h2 class="addData"><i class="fas fa-cookie"></i></h2>
        </div>
        <a href="/food/add">
        <div class="addOne" id="addFood">
            <h3 class="addTitle">Food</h3>
            <h2 class="addData"><i class="fas fa-bars"></i></h2>
        </div>
        </a>
{% endblock %}