{% extends 'base.html' %}



{% block content %}

  <form action="/food/add" method='POST' id='inputFoodForm' autocomplete="off" class="formCommon">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' and field.name != 'symptoms' %}

      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
    
      {% if field.type == 'StringField' %}
       
          {{ field(placeholder=field.label.text, class="form-control inputCommon", list='inputfood', id='foodSearchInput') }}
        

    <div id="restOfFields" class="">
        {% elif field.type != 'RadioField' %}
            {{ field(placeholder=field.label.text, class="form-control inputCommon") }}
        {% endif %}
    {% endfor %}

      <div class="checkboxDiv">
        {% for field in form.symptoms %}
          <div hidden>
            {{field (class='btn-check', autocomplete='off', type='checkbox')}}
          </div>
          {{field.label (class="btn btn-outline-primary checkbox")}}
        {% endfor %}
      </div>
      <button id="addButton" type="submit" class="btn btn-secondary btn-lg btn-block buttonCommon">Add Food</button>
    </div>
  </form>

  <div class="tableScroll w fit" id="chooseFoodsList">
    <table class="table w">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Food</th>
          <th scope="col">Select</th>
        </tr>
      </thead>
      <tbody id="foodChoiceBody"></tbody>
    </table>
  </div>


{% endblock %}