{% extends 'base.html' %}



<!-- =============================================================== -->



{% block content %}

    <form action="/userfoods" method="POST" id="foodSearchForm" class="form">
    {{ form.hidden_tag() }} 
    
    {% for field in form if field.widget.input_type != 'hidden'%} 
    
    {% for error in field.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %} 
    
    {{ field(placeholder=field.label.text, class="form-control mr-sm-2", id="foodSearchInput") }} 
    
    {% endfor %}

    <button id="foodSearch" type="submit" class="btn btn-secondary btn-lg btn-block">
      Search
    </button>
  </form>
    



<div id="table">
  <div id="tableScroll">
  <table class="table table-striped table-dark">

    <thead>

      <tr>
        <th scope="col">Image</th>
        <th scope="col">Food</th>
        <th scope="col">Day</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    
      <tbody>
        {% if foods != None %}
        {% for food in foods %}

        <tr class="tr">

          <td><img src="https://spoonacular.com/cdn/ingredients_100x100/{{food.info.spoonacular_image}}" id="searchImage"></td>
          <td>{{food.food_name}}</td>
          
          <td>{{food.timestamp.month}}-{{food.timestamp.day}}-{{food.timestamp.year}}</td>
          <td>

            <a href="/food/{{food.id}}/update" id="tofood" class="fas fa-arrow-up" role="button" ></a>
          </td>
          <td>


            <a href="/food/{{food.id}}/delete" id="tofood" class="fas fa-trash-alt" role="button" ></a>
          </td>
        </tr>
        
        
        {% endfor %}
        {% endif %}
        </tbody>
    
  </table>
  </div>
</div>

{% endblock %}



<!-- =============================================================== -->