{% extends 'base.html' %}


{% block content %}

  
  <form action="/search/results" method='GET' id="foodSearchForm"  class="formCommon w " autocomplete="off">
            
    

    {% for field in form if field.widget.input_type != 'hidden' %}
    
      {% if field.type == 'StringField' %}
       
          {{ field(placeholder=field.label.text, class="form-control inputCommon", list='inputfood', id='foodSearchInput') }}
        

    <div id="restOfFields" class="">
        {% elif field.type != 'RadioField' %}
            {{ field(placeholder=field.label.text, class="form-control inputCommon") }}
        {% endif %}
    {% endfor %}

      <button id="addButton" type="submit" class="btn btn-secondary btn-lg btn-block buttonCommon">Gather Data</button>
    </div>
  </form>

  <div class="tableScroll w fit" id="chooseFoodsList">
    <table class="table w">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Food</th>
          <th scope="col">Select</th>
        </tr>
      </thead>
      <tbody id="foodChoiceBody"></tbody>
    </table>
  </div>

{% endblock %}

