{% extends 'inbase.html' %} 






<!-- =============================================================== -->





{% block content %}


  <form action="/food/search" method="POST" id="inputform" class="form-inline">
    {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
    'hidden'%} {% for error in field.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %} {{ field(placeholder=field.label.text, class="form-control
    mr-sm-2, wow") }} {% endfor %}
    <button id="foodsearch" type="submit" class="btn btn-secondary btn-lg btn-block">
      Search
    </button>
  </form>


{% endblock %} 




<!-- =============================================================== -->







{% block data %}

<div id="table" class="table">
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Food Image</th>
        <th scope="col">Food Name</th>

        <th scope="col">Average Feeling</th>
        <th scope="col">View Data</th>
      </tr>
    </thead>
    <tbody>
      
{% if food != undefined %}
      <tr class="tr">
        <td>{{food.food_name}}</td>
        <td>{{average}} / 3</td>
        <td>
          <a href="/graph/{{food.id}}" id="tofood" class="btn btn-info bad" role="button" aria-pressed="true"></a>
        </td>
        <td></td>
      </tr>
{% endif %}

{% for food in allfoods %}
        <tr class="tr">
        <td><img src="https://spoonacular.com/cdn/ingredients_100x100/{{food.spoonacular_image}}" id="searchimage"></td>
        <td>{{food.food_name}}</td>
        <td></td>
        <td>
          <a href="/graph/{{food.id}}" id="tofood" class="btn btn-info bad" role="button" aria-pressed="true"></a>
        </td>
        <td></td>
      </tr>
{% endfor %}
      
    </tbody>
  </table>
</div>

{% endblock %}





<!-- =============================================================== -->