{% extends 'base.html' %}


{% block content %}

        <h1 id="searchQuestion" >What do you want to search for?</h1>
        <a href="/food/search">
            <div class="searchChoices flex" id="searchFood">
                <h3 class="searchTitle">General Food Data</h3> 
            </div>
        </a>
        <a href="/foodbycondition/search">
            <div class="searchChoices flex" id="searchCondition">
                <h3 class="searchTitle">Food by Condition Data</h3>
            </div>
        </a>
{% endblock %}