{% extends 'base.html' %}
{% block content %}

        <h1 id="addQuestion" >What do you want to search for?</h1>
        <a href="/food/search">
        <div class="addOne" id="searchFood">
            <h3 class="searchTitle">How a food makes people feel</h3>
            
        </div>
        </a>
        <a href="/foodbycondition/search">
        <div class="addOne" id="searchCondition">
            <h3 class="searchTitle">How a food makes people with a condition feel</h3>
            
        </div>
        </a>
{% endblock %}