{% extends 'base.html' %} 


{% block content %}

  <form action="/food/search" method="GET" id="foodSearchForm" class="form formCommon">

    {% for field in form if field.widget.input_type !=
    'hidden'%} 

      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %} 
      
      {{ field(placeholder=field.label.text, class="form-control mr-sm-2 inputCommon", id="foodSearchInput") }} 
    {% endfor %}

    <button id="foodSearchData" type="submit" class="btn btn-secondary btn-lg btn-block buttonCommon">
      Search
    </button>
  </form>


  <div class="tableScroll">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Food Image</th>
          <th scope="col">Food Name</th>
          <th scope="col">View Data</th>
        </tr>
      </thead>
      <tbody>
        
        {% if food != undefined %}
          <tr class="tr">

            {% if food.food_name == 'No data on this food' %}
              <td><i class="fas fa-times-circle" style="color: darkred;"></i></td>
            {% else %}
              <td><img src="https://spoonacular.com/cdn/ingredients_100x100/{{food.spoonacular_image}}" id="searchimage"></td>
            {% endif %}

            <td>{{food.food_name}}</td>
      
            {% if food.food_name == 'No data on this food' %}
              <td><a>No</a></td>
            {% else %}
              <td><a href="/graph/{{food.id}}" id="tofood" class="fas fa-arrow-up" role="button" aria-pressed="true"></a></td>
            {% endif %}

          </tr>
        {% endif %}

        {% for food in allfoods %}
          <tr class="tr">
            <td><img src="https://spoonacular.com/cdn/ingredients_100x100/{{food.spoonacular_image}}" id="searchimage"></td>
            <td>{{food.food_name}}</td>
            <td>
              <a href="/graph/{{food.id}}" id="tofood" class="fas fa-arrow-up" role="button" ></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


{% endblock %}

