{% extends 'inbase.html' %}



<!-- =============================================================== -->


{% block content %}



<form action="/food/add" method='POST' id='inputform' autocomplete='off'>
  {{ form.hidden_tag() }}

  {% for field in form if field.widget.input_type != 'hidden'%}
  {% if field.type == 'StringField' %}
    {{ field(placeholder=field.label.text, class="form-control", list='inputfood') }}
    <datalist id='inputfood'></datalist>
  {% endif %}

  {% for error in field.errors %}
  <span class="text-danger">{{ error }}</span>
  {% endfor %}
{% if field.type != 'StringField' %}
  {{ field(placeholder=field.label.text, class="form-control") }}
{% endif %}
  {% endfor %}
  <button type="submit" class="btn btn-secondary btn-lg btn-block">Add to Pending</button>
</form>

{% endblock %}




<!-- =============================================================== -->




{% block data %}

<div id="table" class="table">
  <h5 id="tabletitle">Pending Inputs</h5>
  <table class="table table-striped table-dark">

    <thead id="tablehead">

      <tr>
        <th scope="col">Food</th>
        <th scope="col">Amount</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% if foods != None %}
      {% for food in foods %}

      <tr class="tr">
        <td>{{food.food_name}}</td>
        <td>{{amounts[food.amount | int]}}</td>
        <td>
          <form method="GET" action="/food/{{food.id}}/update" class="form-inline">
            <button class="btn btn-success bad" id="delete"></button>
          </form>

        </td>
        <td>

          <form method="POST" action="/food/{{food.id}}/delete" class="form-inline">
            <button class="btn btn-danger bad" id="delete"></button>
          </form>
        </td>
      </tr>

</div>
{% endfor %}
{% endif %}
</tbody>
</table>
</div>

{% endblock %}




<!-- =============================================================== -->