 {% extends 'base.html' %}
    {% block content %}
      <h1 class="title w "> Welcome back!</h1>

      <form  method="POST" class="w  flex" id="introForm">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control inputCommon w") }}
        {% endfor %}
        <button type="submit" class="btn buttonCommon w" id="loginbutton">Login</button>
        <a id="tosignup" class="btn buttonCommon w" href="/signup" >New to FEEL? Sign Up!</a>
      </form>
        
      {% if get_flashed_messages() %}
        <div class="toast position-absolute top-50 start-50 translate-middle " role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
          <div class="toast-header bg-dark text-white" >
            <strong class="me-auto">FEEL</strong>
            <button type="button" class="btn-close btn-close-white ms-auto me-2" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            {% for message in get_flashed_messages() %}
              {{message}}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endblock %}
