{% extends 'outbase.html' %}

{% block header %}
<div id='loginheader'>
<h1 class="title"> Welcome back!</h1>
        <p>Keep contributing!</p>
</div>
{% endblock %}


{% block content %}


<div class="menu">
  <form class="px-4 py-3" method="POST" id="loginform">
    <div class="form-group">

      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}
    </div>
      
    <button type="submit" class="btn btn-primary" id="loginbutton">Login</button>
    <a id="tosignup" class="btn btn-info" href="/signup" >New to FEEL? Sign Up!</a>
  </form>

  

</div>




{% endblock %}