<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Feel</title>

      <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  
  
  

  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="/static/stylesheets/outstyle.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body class="{% block body_class %}{% endblock %}">

<div class="grid-container">
  <div class="intronote" >
     {% for message in get_flashed_messages() %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
    {% block header %}
    {% endblock %}
  
  </div>
    <div class="loginform">        
        {% block content %}
        {% endblock %}
    </div>
  <div class="intrologo"> </div>
</div>




</div>
</body>
</html>