<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />

    <meta name="msapplication-starturl" content="/" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"/>

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>

    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0"/>
    <link rel="stylesheet" href="/static/stylesheets/index.css" />
    <title>Feel</title>
    <script src="https://unpkg.com/jquery"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
  </head>


  <body>

    <div id="bigContainer" class="h flex">
      <h2 id="introHeaderTitle" class="w">FEEL</h2>
          <h1 class="bannerTitle win">Find out what you should be eating.</h1>
          <h5 class="bannerText win">
            With FEEL you can: <br />
            <small id="bannerYouCan" class="win">
              Track how certain foods make you feel.<br />
              Learn how foods make people with your condition feel. <br />
              Improve our understanding of healthy foods. <br />
            </small>
          </h5>
        
        <form method="POST" id="introForm" action="/signup" class="flex" autocomplete="off">
          {{ form.hidden_tag() }}
          {% for field in form if field.widget.input_type
          != 'hidden' %} {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
          {% endfor %} {{ field(placeholder=field.label.text,
          class="form-control inputCommon win") }} {% endfor %}

          <button type="submit" class="btn btn-primary buttonCommon win" id="loginbutton">
            Create Account
          </button>
          <a id="tosignup" class="btn btn-info buttonCommon win" href="/login">Already have an account? Login</a>
        </form>
      

      <div id="loginFooter" class="w flex">
        <h5 id="footerLogo">let's FEEL better</h5>
        <h5 id="poweredBy">Powered by the SpoonacularAPI</h5>
      </div>

      {% for message in get_flashed_messages() %}
      <div id="flash" class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
    <script src="/static/feel.js"></script>
  </body>
</html>
