 {% extends 'base.html' %}
    {% block content %}

      <h1 class="bannerTitle w">Discover what you should be eating.</h1>
      <h5 class="bannerText w">
        With FEEL you can: <br />
        <small id="bannerYouCan" class="w">
          Track how certain foods make you feel.<br />
          Learn how foods make people with your condition feel. <br />
          Improve our understanding of healthy foods. <br />
        </small>
      </h5>
    
    <form method="POST" id="introForm" action="/signup" class="flex" autocomplete="off">
      {{ form.hidden_tag() }}
      {% for field in form if field.widget.input_type != 'hidden' %} 
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %} 
        {{ field(placeholder=field.label.text, class="form-control inputCommon w") }} 
      {% endfor %}

      <button type="submit" class="btn buttonCommon w" id="loginbutton">Create Account</button>
      <a id="tosignup" class="btn buttonCommon w" href="/login">Already have an account? Login</a>
    </form>
      
{% endblock %}
