{% extends 'base.html' %}






<!-- =============================================================== -->







{% block content %}
<div class="conditionsMenu">
<h1 class="title"> Add your conditions to your profile </h1>
        <p class="title">If your interested in associating your conditions to your feelings after eating certain foods you can add them here. You can also do it later in the edit profile section.
        </p>





  <form class="" method="POST" action="/signup/conditions" id="conditionsForm">
      <div class="conditions">
        
          {% for field in form.conditions %}



          <div hidden>
          {{field (class='btn-check', autocomplete='off', type='checkbox', )}}
          </div>
        
            {{field.label (class="btn btn-outline-primary checkbox")}}
            
        {% endfor %}
        </div>
      
    <button type="submit" class="btn btn-primary" id="loginbutton">Add Conditions</button>

      <a href="/home" class="btn btn-secondary btn-lg btn-block" id="doItLater">
         
          Do it later
        
        </a>

  </form>
  

  
</div>


{% endblock %}


