 {% extends 'base.html' %}
    {% block content %}

  <h1 class="w mt-5"> Add your conditions to your profile </h1>
      <p class="w  mb-0">If your interested in associating your conditions to your feelings after eating certain foods you can add them here. You can also do it later in the edit profile section.</p>
    <form class="flex" method="POST" action="/signup/conditions" id="conditionsForm">
      {{ form.hidden_tag() }}
      <div class="checkboxDiv w mt-0">          
          {% for field in form.conditions %}
            <div hidden>
              {{field (class='btn-check', autocomplete='off', type='checkbox', )}}
            </div>
            {{field.label (class="btn btn-outline-primary checkbox")}}
        {% endfor %}
      </div>
      <button type="submit" class="btn buttonCommon w" id="loginbutton">Add Conditions</button>
      <a href="/home" class="btn buttonCommon w" id="doItLater">Do it later</a>
    </form> 
  


  {% if get_flashed_messages() %}
    <div class="toast position-absolute top-50 start-50 translate-middle " role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
      <div class="toast-header bg-dark text-white" >
        <strong class="me-auto">FEEL</strong>
        <button type="button" class="btn-close btn-close-white ms-auto me-2" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {% for message in get_flashed_messages() %}
          {{message}}
        {% endfor %}
      </div>
    </div>
  {% endif %}


{% endblock %}
