{% extends 'base.html' %}



{% block content %}

<div id="mainFormEditProfile" class="container">
<form action="/user/profile" method='POST' id='inputFoodForm' autocomplete="off">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' and field.name != 'symptoms' %}

    {% for error in field.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %}
   
    {% if field.type == 'StringField' %}
    {{ field(placeholder=field.label.text, class="form-control", list='inputfood', id='fieldOneProfile') }}



 


    

    {% endif %}
    {% endfor %}

      <div class="conditions">
        
          {% for field in form.conditions %}
        {% if field.label.text in conditionslist %}
          <div hidden>
            {{field (class='btn-check', autocomplete='off', type='checkbox', )}}
          </div>
        
            {{field.label (class="btn btn-outline-primary checkbox", style="background-color: black")}}


          {% elif field.label not in conditionslist %}


          <div hidden>
          {{field (class='btn-check', autocomplete='off', type='checkbox', )}}
          </div>
        
            {{field.label (class="btn btn-outline-primary checkbox")}}
            {% endif %}
        {% endfor %}
        </div>
      

    <button id="editProfileButton" type="submit" class="btn btn-secondary btn-lg btn-block ">Edit Profile</button>
</form>
        <a href="/users/delete" class="btn btn-secondary btn-lg btn-block" id="profileDelete">
         
          Delete Profile
        
        </a>
</div>












{% endblock %}



<!-- =============================================================== -->