{% extends 'inbase.html' %}


<!-- =============================================================== -->
{% block content %}

<h3 id="edityourprofile">Edit Your Profile</h3>

{% endblock %}

{% block data %}

      <div class="row justify-content-md-center">
  <div class="col-md-9">

    <form method="POST" id="user_form" action="/user/profile" >
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' and field.name != 'conditions'%}
      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field(placeholder=field.label.text, class="form-control mt-1") }}
      {% endfor %}

      <div id="conditions">
      {% for field in form.conditions %}

      {% if field.label.text in conditionslist %}

      <div class="conditionname">{{field(checked=True, class='mt-3')}}
      {{field.label}}</div>
      {% elif field.label not in conditionslist %}
      <div class="conditionname">{{field(class='mt-3')}}
      {{field.label}}</div>
      {% endif %}
      {% endfor %}

      </div>



      <button type="submit" class="btn btn-success bad" id="edituser">Edit User</button>
    </form>





  </div>
</div>



<form method="POST" action="/users/delete" class="form-inline">
  <button class="btn btn-danger bad" id="deleteuser">Delete User</button>
</form>

{% endblock %}



<!-- =============================================================== -->