{% extends 'base.html' %}


{% block content %}

<img src="{{g.user.image_url}}"  id='profileImage' alt="">



 <h3 id="profileUsername">{{g.user.username}}</h3>
 <h4 id="profileEmail">{{g.user.email}}</h4>
 <a id="editProfileButton1" class="btn btn-secondary btn-lg btn-block" href='/user/profile/edit'>Edit Profile</a>
 <a id="profileLogout" href="/logout" class="btn btn-outline-secondary">Logout</a>



{% endblock %}



<!-- =============================================================== -->
    