{% extends 'inbase.html' %}



<!-- =============================================================== -->



{% block content %}

    <h3>Thank you for your contributions!</h3>

{% endblock %}



<!-- =============================================================== -->




{% block data %}

<div id="table" class="table">
  
  <table class="table table-striped table-dark">

    <thead>

      <tr>
        <th scope="col">Food</th>
        <th scope="col">Day</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% if foods != None %}
      {% for food in foods %}

      <tr class="tr">
        <td>{{food.food_name}}</td>
        <td>{{food.timestamp.date()}}</td>
        <td>
          <form method="GET" action="/food/{{food.id}}/update" class="form-inline">
            <button class="btn btn-success bad" id="delete"></button>
          </form>

        </td>
        <td>

          <form method="POST" action="/food/{{food.id}}/delete" class="form-inline">
            <button class="btn btn-danger bad" id="delete"></button>
          </form>
        </td>
      </tr>

</div>
{% endfor %}
{% endif %}
</tbody>
</table>
</div>

{% endblock %}



<!-- =============================================================== -->